#about .items {
    display: block;
    padding: 1rem;
}

/* Align items to left */
#about .items .item {
    display: flex;
    text-align: left;
}

/* Position icon */
#about .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* Smartphones */
@media (max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    #navbar ul {
        padding: 0.5rem;
    }

    #main .main-content {
        top: 110px;
        /*margin-top: -2rem;*/
    }

    #our-team {
        display: block;
    }

    #our-team .team-img {
        display: none;
    }

    #clients .items img {
        width: 80%;
    }

    #clients .items div:last-child {
        display: none;
    }

    #contact {
        flex-direction: column;
    }

    #contact .map {
        height: 200px;
        border-top: 4px solid #333;
    }
}

@media (max-height: 568px) {
    #main .main-content {
        margin-top: -2rem;
        top: 130px;
    }

    .large-heading {
        font-size: 3rem;
    }

    .lead {
        font-size: 1rem;
    }
}